{{ $thisPost := .RelPermalink }}
{{ $comments := .Site.Data.comments }}
{{ $.Scratch.Set "counter" 0 }}
{{ range $key, $val := $comments }}
    {{ range . }}{{ if eq $key $thisPost }}{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}{{ end }}{{ end }}
{{ end }}
{{ if gt ($.Scratch.Get "counter") 0 }}{{/*  only show comment section if there are comments  */}}
  <div style="width: 75%;display: block;text-align: center;padding-top: 2%;margin-left: auto;
  margin-right: auto">
  {{ range $key, $val := $comments }}
    {{ range . }}
      {{ if eq $key $thisPost }}
      <div style="width:100%;display:inline-block;background-color:black;min-height:2px;"></div>
      <div style="color:#a0a0a1;">
        <div style="display: inline-block">
          <b>From:</b> <i><span>{{ .name }}</span></i>:
          <br>
          <p>{{ .comment | markdownify | safeHTML}}</p>
          <div style="font-size:x-small;">{{ .date | dateFormat "Mon, 02 Jan. 2006, 15:04 MST" }}</div>
        </div>
      </div>
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
{{ end }}